extends baseEmail 
block content 
  p Hi #{firstName},
    p Forgot your password? Your OTP : #{url} (valid for only 10 minutes)
    p If you didn't forget your password, please ignore this email!